<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="utf-8">
  <title>
    {% if lang=='ru' %}Вход — RU{% elif lang=='kk' %}Кіру — KK{% else %}Login — EN{% endif %}
  </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>

<header>
  <div class="logo">{% if lang=='ru' %}📚 Библиотека{% elif lang=='kk' %}📚 Кiтапхана{% else %}📚 Library{% endif %}</div>

  <div class="header-right">
    <select id="langSelect" class="lang-select">
      <option value="ru" {% if lang=='ru' %}selected{% endif %}>Русский</option>
      <option value="kk" {% if lang=='kk' %}selected{% endif %}>Қазақша</option>
      <option value="en" {% if lang=='en' %}selected{% endif %}>English</option>
    </select>

    <a class="small-btn" href="{{ url_for('books_page', lang=lang) }}">
      ⬅ {% if lang=='ru' %}К книгам{% elif lang=='kk' %}Кітаптар{% else %}Books{% endif %}
    </a>
  </div>
</header>

<div class="form-container">
  <h1>
    {% if lang=='ru' %}Вход{% elif lang=='kk' %}Кіру{% else %}Login{% endif %}
  </h1>

  <form method="post">
    <div class="form-row">
      <label>{% if lang=='ru' %}Логин{% elif lang=='kk' %}Логин{% else %}Login{% endif %}</label>
      <input name="login" type="text" required>
    </div>

    <div class="form-row">
      <label>{% if lang=='ru' %}Пароль{% elif lang=='kk' %}Құпия сөз{% else %}Password{% endif %}</label>
      <input name="password" type="password" required>
    </div>

    <button class="submit-btn" type="submit" style="margin-top: 10px;">
      {% if lang=='ru' %}Войти{% elif lang=='kk' %}Кіру{% else %}Sign in{% endif %}
    </button>
  </form>

  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}

<form action="{{ url_for('register', lang=lang) }}" method="get">
  <button type="submit" class="submit-btn" style="margin-top: 10px;">
    {% if lang=='ru' %}Регистрация{% elif lang=='kk' %}Тіркелу{% else %}Register{% endif %}
  </button>
</form>


</div>

</body>
</html>
