<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <div class="header-left">📚 Моя библиотека</div>
    <div class="header-right">
        <a href="{{ url_for('books_page') }}" class="back-link">⬅ Назад к книгам</a>
    </div>
</header>

<main>
    <div class="form-container">
        <h1>Добавить книгу</h1>
        <form id="addForm" class="book-form">
            <label for="name">Название книги</label>
            <input type="text" id="name" placeholder="Название" required>

            <label for="author">Автор</label>
            <input type="text" id="author" placeholder="Автор" required>

            <label for="year">Год написания</label>
            <input type="text" id="year" placeholder="Год" required>

            <label for="izdat">Издательство</label>
            <input type="text" id="izdat" placeholder="Издательство" required>

            <label for="about">Описание</label>
            <textarea id="about" placeholder="Описание книги" required></textarea>

            <label for="image">Обложка</label>
            <input type="file" id="image">

            <button type="submit" class="submit-btn">Добавить книгу</button>
        </form>
    </div>
</main>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
initAddForm();
</script>

</body>
</html>
