<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <div class="header-left">📚 Моя библиотека</div>
    <div class="header-right">
        <a href="{{ url_for('add_page') }}">Добавить книгу</a>
    </div>
</header>

<div class="grid" id="booksGrid"></div>

<div class="modal-bg" id="modalBg">
    <div class="modal" id="modalWindow">
        <span class="close-btn" id="closeBtn">&times;</span>
        <img id="modalImg">
        <div class="content">
            <h2 id="modalName"></h2>
            <p><b>Автор:</b> <span id="modalAuthor"></span></p>
            <p><b>Год:</b> <span id="modalYear"></span></p>
            <p><b>Издательство:</b> <span id="modalIzdat"></span></p>
            <p><b>Описание:</b></p>
            <p id="modalAbout"></p>

            <div style="text-align: right; margin-top: 10px;">
                <button id="removeBtn" class="remove-btn">Удалить</button>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
